[submodule "libraries/xavlib"]
	path = libraries/xavlib
	url = git://github.com/Xavi-/xavlib.git
[submodule "libraries/bind-js"]
	path = libraries/bind-js
	url = git://github.com/Xavi-/bind-js.git
[submodule "libraries/markdown-js"]
	path = libraries/markdown-js
	url = git://github.com/evilstreak/markdown-js.git
