<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="A site about all things full stack javascript" />
    <meta name="keywords" content="Full-stack JavaScript" />
    <link rel="icon" type="image/png" href="" />
    
    <title>Full-stack JavaScript - #:title:#</title>
    <style>
    /*<![CDATA[*/
        #content { display: table; }
        #menu { clear: both; }
    /*]]>*/
    </style>
    #:head:#
</head>
<body>
	
<div id="content">
	(: content ~ [: file ~ 404.html :] :)
</div>

#:tail:#
</body>
</html>